.left-block {
  width: 332px;
  margin-bottom: 60px; }

.left-filter-wrapper {
  background: white;
  border: 1px solid #dee1e4;
  border-radius: 7px; }

.available,
.brands,
.price,
.color,
.os {
  padding: 10px 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee1e4;
  font-size: 14px; }

.model-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dee1e4;
  margin-bottom: 35px;
  border-radius: 7px;
  background: white;
  overflow: hidden; }

.model-type__link {
  padding: 15px 15px 15px 30px;
  display: block;
  text-decoration: none;
  color: #333;
  transition: .3s;
  border-bottom: 1px solid #dee1e4;
  color: #5d656c;
  font-size: 14px; }

.model-type__link:hover, .model-type__link:active, .model-type__link:focus {
  background: #d9e5ea;
  transition: .3s; }

.available__radio,
.color__filter-input,
.brands__filter-input,
.color__filter-input,
.os__filter-input {
  position: absolute;
  left: -9999px; }

.filter-reset {
  color: #5db2fc; }

.filter-reset:hover, .filter-reset:active, .filter-reset:focus {
  color: #ff6e35; }

.available__label, .os__filter-label, .brands__filter-label {
  display: block;
  line-height: 3em;
  cursor: pointer; }

.os__filter-label:before, .brands__filter-label:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px;
  background-position: -89px 0px; }

.os__filter-label_active:before, .brands__filter-label_active:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px;
  background-position: 0px 0px; }

.available__label:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px;
  background-position: -89px -89px; }

.available__label_active:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px;
  background-position: 0px -89px; }

.color__heading {
  margin-bottom: 5px; }

.color__filter {
  margin-bottom: -30px; }

.color__filter-label {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid #ccc;
  margin: 0 22px 22px 0;
  cursor: pointer; }

.color__filter-label:hover, .color__filter-label:active, .color__filter-label:focus, .color__filter-label_active {
  border: 2px solid #ff6e35;
  width: 35px;
  height: 35px; }

.color__filter-label_whiter {
  background: #fff; }

.color__filter-label_grey {
  background: #cccccc; }

.color__filter-label_black {
  background: #000; }

.color__filter-label_deepblue {
  background: #0a3153; }

.color__filter-label_red {
  background: #ff1800; }

.color__filter-label_yellow {
  background: #fff343; }

.color__filter-label_orange {
  background: #fb914a; }

.color__filter-label_green {
  background: #92c37c; }

.color__filter-label_blue {
  background: #40a6ff; }

.color__filter-label_purple {
  background: #9870ad; }

.color__filter-label_pink {
  background: #dc78ad; }

.color__filter-label_brown {
  background: #7f401d; }