html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 220px;
  /* bottom = footer height */ }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background: #f4f4f4;
  font-size: 16px; }

.cooltech-accordeon {
  border: 0;
  margin: 0;
  padding: 0;
  padding: 10px 0; }

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.content-heading {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative; }

.heading-arrow {
  position: absolute;
  display: none;
  content: " ";
  height: 11px;
  width: 18px;
  background: url("../../img/layout/heading-arrow.png") 0 0 no-repeat;
  right: -10px;
  top: 3px;
  transition: 0.3s; }

.heading-arrow.invert {
  transform: rotate(180deg);
  transition: 0.3s; }

.text-hide {
  position: absolute;
  left: -9999px; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left-block {
  width: 333px; }

.right-block {
  width: 743px; }

.logo-wrapper,
.logo,
.search-form-wrapper,
.extras,
.extras__item,
.navigation,
.navigation__item,
.socials,
.socials__item,
.bcrumbs__item,
.contacts,
.address,
.phone {
  display: inline-block;
  margin: 0;
  padding: 0; }

.top-block-wrapper {
  padding: 25px 0;
  background: white; }

.socials {
  height: 25px; }

.socials__item {
  margin: 0;
  padding: 0;
  height: 25px; }

.socials__link {
  width: 25px;
  height: 25px;
  background: black;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 0;
  margin-right: 15px; }

.address {
  margin-right: 80px; }

.top-block-wrapper, .logo-search-extras-wrapper, .navigation-wrapper {
  margin-bottom: 30px; }

.logo-wrapper {
  height: 35px;
  width: 238px; }

.logo {
  width: 100%;
  max-width: 100%; }

.logo-wrapper, .search-form-wrapper {
  margin-right: 55px; }

.extras {
  line-height: 2em; }

.search-form-wrapper, .extras {
  vertical-align: top; }

.search-form__input, .search-form__submit {
  height: 35px;
  box-sizing: border-box; }

.search-form__input {
  width: 290px;
  font-size: 14px;
  font-weight: light;
  padding-left: 15px;
  color: #b2b2b2; }

.search-form__submit {
  width: 75px;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  color: white;
  background: #ff6e35;
  border: 0;
  font-weight: 600; }

.navigation-wrapper {
  background: white; }

.navigation__link {
  padding: 15px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: .3s; }

.navigation__link:hover, .navigation__link:focus {
  background: #e4e2e2;
  text-decoration: none;
  transition: .3s; }

.navigation__link:active {
  background: #ff6e35;
  color: white;
  text-decoration: none;
  transition: .3s; }

.bcrumbs {
  margin: 0;
  padding: 0; }

.left-filter-wrapper {
  background: white;
  border: 1px solid #dee1e4;
  border-radius: 7px; }

.available,
.brands,
.price,
.color,
.os {
  padding: 10px 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee1e4;
  font-size: 14px; }

.model-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dee1e4;
  margin-bottom: 35px;
  border-radius: 7px;
  background: white;
  overflow: hidden; }

.model-type__link {
  padding: 15px 15px 15px 30px;
  display: block;
  text-decoration: none;
  color: #333;
  transition: .3s; }

.model-type__link:hover, .model-type__link:active, .model-type__link:focus {
  background: #d9e5ea;
  transition: .3s; }

.model {
  max-width: 500px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  display: inline-block; }

.model__description {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.model__description-item:nth-child(odd) {
  background: #e6e6e6; }

.footer {
  background: url("../../img/footer_lodyas.png");
  height: 220px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer-logo-wrapper {
  padding: 72px 0; }

.footer-navigation {
  width: 600px;
  line-height: 2.5em;
  text-align: right;
  margin-right: -25px;
  font-size: 14px; }

.footer-navigation__item {
  display: inline-block;
  margin-right: 25px; }

.footer-navigation__link {
  color: white;
  transition: .3s;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.footer-navigation__link:hover, .footer-navigation__link:focus, .footer-navigation__link:active {
  color: #ccc;
  transition: .3s; }

.footer-cocials-wrapper {
  padding: 35px 0; }

.footer-socials {
  margin: 0;
  padding: 0; }

.footer-socials__item {
  display: inline-block;
  margin-left: 25px; }

.footer-socials__link {
  height: 43px;
  width: 43px;
  display: inline-block;
  border-radius: 50%;
  background: white; }

.copyright-wrapper {
  border-top: 1px solid #666; }

.copyright {
  font-size: 13px;
  line-height: 2em;
  color: white; }