@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 260px;
  /* bottom = footer height */ }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background: #f4f4f4;
  font-size: 16px; }

.main-wrapper {
  min-width: 1120px;
  overflow: hidden; }

.cooltech-accordeon {
  border: 0;
  margin: 0;
  padding: 0;
  padding: 10px 0; }

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box; }

.content-heading {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative; }

.heading-arrow {
  position: absolute;
  display: none;
  content: " ";
  height: 11px;
  width: 18px;
  background: url("../../img/layout/heading-arrow.png") 0 0 no-repeat;
  right: -10px;
  top: 3px;
  transition: 0.3s; }

.heading-arrow.invert {
  transform: rotate(180deg);
  transition: 0.3s; }

.text-hide {
  position: absolute;
  left: -9999px; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.content__info {
  margin-bottom: 60px; }

.logo-wrapper,
.logo,
.search-form-wrapper,
.extras,
.extras__item,
.navigation,
.navigation__item,
.socials,
.socials__item,
.bcrumbs__item,
.contacts,
.address,
.phone {
  display: inline-block;
  margin: 0;
  padding: 0; }

.top-block-wrapper {
  padding: 25px 0;
  background: white; }

.socials {
  height: 25px; }

.socials__item {
  margin: 0;
  padding: 0;
  height: 25px; }

.socials__link {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 0;
  margin-right: 15px; }

.socials__link_fb {
  background-image: url(../../img/sprite-socials.png);
  background-position: -261px -76px;
  background-repeat: no-repeat; }

.socials__link_fb:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: -261px -158px;
  background-repeat: no-repeat; }

.socials__link_tw:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: 4px -176px;
  background-repeat: no-repeat; }

.socials__link_tw {
  background-image: url(../../img/sprite-socials.png);
  background-position: -82px -176px;
  background-repeat: no-repeat; }

.socials__link_vk:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: -164px -176px;
  background-repeat: no-repeat; }

.socials__link_vk {
  background-image: url(../../img/sprite-socials.png);
  background-position: -263px 6px;
  background-repeat: no-repeat; }

.address {
  margin-right: 80px;
  position: relative;
  cursor: pointer; }

.address:before {
  display: block;
  position: absolute;
  left: -20px;
  top: 3px;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url(../../img/sprite-layout.png);
  background-position: -264px 0px;
  background-repeat: no-repeat; }

.phone {
  position: relative;
  font-weight: 600; }

.phone:before {
  display: block;
  position: absolute;
  left: -20px;
  top: 3px;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url(../../img/sprite-layout.png);
  background-position: -264px -86px;
  background-repeat: no-repeat; }

.top-block-wrapper, .logo-search-extras-wrapper, .navigation-wrapper {
  margin-bottom: 30px; }

.logo-wrapper {
  height: 35px;
  width: 238px; }

.logo {
  width: 100%;
  max-width: 100%; }

.logo-wrapper, .search-form-wrapper {
  margin-right: 50px; }

.extras {
  line-height: 2em; }

.extras__item {
  margin-left: 25px; }

.extras__item:first-child {
  margin-left: 0; }

.extras__link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  transition: 0.3s;
  font-weight: 600; }

.extras__link:hover, .extras__link:active, .extras__link:focus {
  color: #ff6e35;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 110, 53, 0.5);
  transition: 0.3s; }

.search-form-wrapper, .extras {
  vertical-align: top; }

.search-form__input, .search-form__submit {
  height: 35px;
  box-sizing: border-box; }

.search-form__input {
  width: 290px;
  font-size: 14px;
  font-weight: light;
  padding-left: 15px;
  color: #b2b2b2;
  border: 1px solid #dee1e4;
  border-radius: 5px 0 0 5px; }

.search-form__submit {
  width: 75px;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  color: white;
  background: #ff6e35;
  border: 0;
  font-weight: 600;
  border-radius: 0 5px 5px 0; }

.ya-map-block {
  height: 300px;
  padding: 10px 0;
  display: none; }

.navigation-wrapper {
  background: white;
  margin-bottom: 25px; }

.navigation {
  padding: 0 10px; }

.navigation__link {
  padding: 15px 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: .3s; }

.navigation__link:hover {
  background: #e4e2e2;
  text-decoration: none;
  transition: .3s; }

.navigation__link:active, .navigation__link:focus {
  background: #ff6e35;
  color: white;
  text-decoration: none;
  transition: .3s; }

.bcrumbs {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 25px; }

.bcrumbs__item {
  margin-right: 5px; }

.bcrumbs__link {
  position: relative; }

.bcrumbs__link {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-bottom-style: solid; }

.bcrumbs__link:hover, .bcrumbs__link:active, .bcrumbs__link:focus, .bcrumbs__link_active {
  color: #ff6e35;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 1px solid rgba(255, 110, 53, 0.5); }

.page-heading {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px; }

.left-block {
  width: 332px;
  margin-bottom: 60px; }

.left-filter-wrapper {
  background: white;
  border: 1px solid #dee1e4;
  border-radius: 7px; }

.available,
.brands,
.price,
.color,
.os {
  padding: 10px 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee1e4;
  font-size: 14px; }

.model-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dee1e4;
  margin-bottom: 35px;
  border-radius: 7px;
  background: white;
  overflow: hidden; }

.model-type__link {
  padding: 15px 15px 15px 30px;
  display: block;
  text-decoration: none;
  color: #333;
  transition: .3s;
  border-bottom: 1px solid #dee1e4;
  color: #5d656c;
  font-size: 14px; }

.model-type__link:hover, .model-type__link:active, .model-type__link:focus {
  background: #d9e5ea;
  transition: .3s; }

.available__radio,
.color__filter-input,
.brands__filter-input,
.color__filter-input,
.os__filter-input {
  position: absolute;
  left: -9999px; }

.filter-reset {
  color: #5db2fc; }

.filter-reset:hover, .filter-reset:active, .filter-reset:focus {
  color: #ff6e35; }

.available__label, .os__filter-label, .brands__filter-label {
  display: block;
  line-height: 3em;
  cursor: pointer; }

.os__filter-label:before, .brands__filter-label:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  background-position: -89px 0px;
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px; }

.os__filter-label_active:before, .brands__filter-label_active:before {
  display: inline-block;
  content: " ";
  background-image: url(../../img/sprite-layout.png);
  background-position: 0px 0px;
  width: 19px;
  height: 19px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px; }

.available__label:before {
  display: inline-block;
  content: " ";
  width: 19px;
  height: 19px;
  background-image: url(../../img/sprite-layout.png);
  background-position: -89px -89px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px; }

.available__label_active:before {
  display: inline-block;
  content: " ";
  width: 19px;
  height: 19px;
  background-image: url(../../img/sprite-layout.png);
  background-position: 0px -89px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-right: 10px; }

.color__heading {
  margin-bottom: 5px; }

.color__filter {
  margin-bottom: -30px; }

.color__filter-label {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid #ccc;
  margin: 0 22px 22px 0;
  cursor: pointer; }

.color__filter-label:hover {
  border: 2px solid #ff6e35;
  width: 35px;
  height: 35px; }

.color__filter-label_whiter {
  background: #fff; }

.color__filter-label_grey {
  background: #cccccc; }

.color__filter-label_black {
  background: #000; }

.color__filter-label_deepblue {
  background: #0a3153; }

.color__filter-label_red {
  background: #ff1800; }

.color__filter-label_yellow {
  background: #fff343; }

.color__filter-label_orange {
  background: #fb914a; }

.color__filter-label_green {
  background: #92c37c; }

.color__filter-label_blue {
  background: #40a6ff; }

.color__filter-label_purple {
  background: #9870ad; }

.color__filter-label_pink {
  background: #dc78ad; }

.color__filter-label_brown {
  background: #7f401d; }

.price__filter-label,
.price__filter-input {
  display: inline-block;
  margin-bottom: 10px; }

.price__filter-label {
  font-size: 14px; }

.price__filter-input {
  width: 80px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px; }

.ui-slider {
  position: relative;
  text-align: left;
  margin-bottom: 15px; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal .ui-slider-handle {
  margin-top: 7px;
  margin-left: -4px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-handle.ui-state-default, .ui-slider-handle.ui-state-default {
  background: black;
  width: 8px;
  height: 8px; }

.ui-slider-handle:before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent black transparent;
  margin-top: -6px; }

.ui-slider {
  height: 3px; }

.ui-slider.ui-slider-horizontal {
  background: #dee1e4; }

.ui-slider-range {
  background: #ff6e35; }

.right-block {
  width: 744px; }

.filter {
  background: #e4ebee;
  border: 1px solid #dee1e4;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 13px 0 13px 20px;
  position: relative; }

.filter__sort {
  border: 0;
  margin-top: -7px; }

.filter__sort,
.filter__view,
.filter__view-item {
  display: inline-block;
  margin: 0;
  padding: 0; }

.filter__view-item {
  margin: -18px 0; }

.filter__view-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-left: 1px solid #dee1e4;
  margin: 0;
  padding: 0;
  margin: -18px 0;
  margin-top: 4px; }

.filter__view {
  margin-left: 20px; }

.filter__view-label, .sort-form__label {
  color: #5d656c;
  font-size: 14px; }

.filter__view-link_table {
  background-image: url(../img/sprite-views.png);
  background-position: -156px 18px;
  background-repeat: no-repeat; }

.filter__view-link_table:hover, .filter__view-link_table:active, .filter__view-link_table:focus, .filter__view-link_table-active {
  background-image: url(../img/sprite-views.png);
  background-position: -156px -68px;
  background-repeat: no-repeat; }

.filter__view-link_icons {
  background-image: url(../img/sprite-views.png);
  background-position: 15px 18px;
  background-repeat: no-repeat; }

.filter__view-link_icons:hover, .filter__view-link_icons:active, .filter__view-link_icons:focus, .filter__view-link_icons-active {
  background-image: url(../img/sprite-views.png);
  background-position: -71px 18px;
  background-repeat: no-repeat; }

.filter__view-link_list {
  background-image: url(../img/sprite-views.png);
  background-position: 15px -68px;
  background-repeat: no-repeat; }

.filter__view-link_list:hover, .filter__view-link_list:active, .filter__view-link_list:focus, .filter__view-link_list-active {
  background-image: url(../img/sprite-views.png);
  background-position: -71px -68px;
  background-repeat: no-repeat; }

.sort-form__select {
  display: none; }

.selector {
  width: 110px;
  background: white;
  border-top: 1px solid #ddd;
  border-radius: 3px;
  color: #5d656c;
  font-size: 14px;
  padding: 5px 15px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer; }

.selector__link {
  color: #5d656c;
  font-size: 14px;
  display: block;
  padding: 5px 5px; }

.selector__options {
  display: none;
  width: 110px;
  position: absolute;
  left: 143px;
  top: 37px;
  background: white;
  padding: 5px 15px;
  z-index: 3;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }

.info-heading {
  font-size: 20px;
  margin: 0;
  padding: 0; }

.content__info {
  font-size: 14px;
  line-height: 1.5em; }

.content__info p {
  margin-bottom: 25px;
  text-indent: 35px; }

.first.column, .last.column {
  width: 530px !important;
  text-align: justify; }

.first.column {
  float: left !important; }

.last.column {
  float: right !important; }

.model-wrapper {
  margin-right: -15px;
  margin-bottom: 65px; }

.model {
  width: 235px;
  border: 1px solid #dee1e4;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 15px 10px;
  border-radius: 7px;
  transition: 0.3s;
  background: white;
  box-sizing: border-box;
  vertical-align: top; }

.model.model_view-icons {
  margin: 0 15px 19px 0; }
  .model.model_view-icons .articul {
    display: none; }

.model:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s; }

.model__slider {
  margin-left: -3px; }

.model__slider-item {
  width: 33px;
  height: 33px;
  display: inline-block;
  border: 1px solid #dee1e4;
  margin-left: 14px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  cursor: pointer; }

.model__slider-item:first-child {
  margin-left: 0; }

.model__slider-item:active, .model__slider-item:focus, .model__slider-item_active {
  border: 1px solid #ff6e35;
  transition: 0.3s; }

.model__slider-img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.first-image {
  background: white;
  border: 1px solid #dee1e4;
  width: 137px;
  height: 137px;
  margin: 0 auto;
  border-radius: 2px;
  position: relative; }

.model__title {
  font-size: 14px;
  text-align: center; }

.model__description {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px; }

.model__description-item:nth-child(odd) {
  background: #e6e6e6; }

.rating-wrapper {
  width: 145px;
  margin: 0 auto; }

.rating {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 15px; }

.rating__star-filled, .rating__star-unfilled {
  display: inline-block;
  width: 17px;
  height: 20px; }

.rating__star-filled {
  background-image: url(../../img/sprite-rating.png);
  background-position: -91px 0px;
  background-repeat: no-repeat; }

.rating__star-unfilled {
  background-image: url(../../img/sprite-rating.png);
  background-position: 0px 0px;
  background-repeat: no-repeat; }

.rating__count {
  display: inline-block;
  background: #b5beca;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  border-radius: 7px;
  vertical-align: top;
  margin-top: 2px;
  height: 15px; }

.model__price {
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px; }

.rouble {
  font-weight: normal;
  font-size: 18px;
  margin-left: 5px; }

.available-mark {
  font-size: 12px;
  font-weight: bold;
  color: #7f7f7f;
  display: inline-block;
  line-height: 3em; }

.available-mark_true:before {
  display: inline-block;
  content: " ";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #60ac49;
  margin: 0 8px; }

.btn-bucket {
  padding: 8px 15px;
  background: #ff6e35;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  display: inline-block; }

.btn-bucket:focus, .btn-bucket:active, .btn-bucket:hover {
  opacity: .9;
  transition: .3s; }

.pagination__item {
  display: inline-block; }

.pagination__link {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #dee1e4;
  border-radius: 2px;
  background: #fbfbfb;
  text-align: center;
  color: #7f7f7f;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  transition: 0.3s; }
  .pagination__link:hover, .pagination__link:active, .pagination__link:focus {
    background: #e0e0e0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
    border-color: #c2c8cd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: 0.3s; }

.model.model_view-table {
  width: 100%;
  max-width: 744px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  margin-top: -1px;
  padding-bottom: 35px;
  border-radius: 0; }
  .model.model_view-table:hover {
    z-index: 999; }
  .model.model_view-table .model__price {
    position: absolute;
    right: 25px;
    top: 20px; }
  .model.model_view-table .first-image {
    margin-bottom: 15px; }
  .model.model_view-table .model__slider-wrapper {
    float: left;
    margin-right: 25px; }
  .model.model_view-table .model__slider {
    margin: 0;
    padding: 0; }
  .model.model_view-table .model__info-wrapper {
    float: left;
    width: 375px;
    min-height: 100%;
    height: auto; }
  .model.model_view-table .model__title {
    text-align: left;
    vertical-align: top;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 16px; }
  .model.model_view-table .model__description {
    width: 100%; }
  .model.model_view-table .model__description-item {
    display: inline-block;
    font-weight: 600; }
  .model.model_view-table .model__description-item-prop {
    clear: both !important;
    padding: 0 10px;
    font-weight: normal; }
  .model.model_view-table .model__description-item:nth-child(odd) {
    background: transparent; }
  .model.model_view-table .rating-wrapper {
    margin: 0; }
  .model.model_view-table .table-line {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 155px;
    width: 1px;
    background: #dee1e4; }
  .model.model_view-table .btn-bucket {
    position: absolute;
    bottom: 40px;
    right: 25px; }
  .model.model_view-table .available-mark {
    position: absolute;
    right: 25px;
    bottom: 20px;
    line-height: normal; }
  .model.model_view-table .articul {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #7f7f7f; }
  .model.model_view-table .articul__number {
    font-weight: 600;
    font-size: 14px;
    color: #333; }
  .model.model_view-table .articul {
    position: absolute;
    left: 20px;
    bottom: 15px; }
  .model.model_view-table:first-child {
    border-radius: 7px 7px 0 0; }
  .model.model_view-table:last-child {
    border-radius: 0 0 7px 7px; }

.model.model_view-list {
  width: 100%;
  max-width: 744px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  padding: 7px 15px 3px 15px;
  border-radius: 0;
  margin-top: -1px; }
  .model.model_view-list:hover {
    z-index: 999; }
  .model.model_view-list .model__price {
    display: inline-block;
    line-height: 34px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 105px;
    max-width: 100px;
    margin: 0;
    padding: 0;
    margin-left: 5px; }
  .model.model_view-list .first-image {
    margin-bottom: 15px; }
  .model.model_view-list .model__slider-wrapper {
    display: none; }
  .model.model_view-list .model__slider {
    margin: 0;
    padding: 0; }
  .model.model_view-list .model__info-wrapper {
    float: left;
    width: 375px; }
  .model.model_view-list .model__title {
    text-align: left;
    vertical-align: top;
    line-height: 34px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    width: 270px;
    max-width: 270px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 115px; }
  .model.model_view-list .model__title:before {
    display: inline-block;
    content: "Смартфон";
    font-weight: normal;
    margin-right: 7px; }
  .model.model_view-list .model__description {
    display: none; }
  .model.model_view-list .model__description-item {
    display: inline-block;
    font-weight: 600; }
  .model.model_view-list .model__description-item-prop {
    clear: both !important;
    padding: 0 10px;
    font-weight: normal; }
  .model.model_view-list .model__description-item:nth-child(odd) {
    background: transparent; }
  .model.model_view-list .rating-wrapper {
    display: none; }
  .model.model_view-list .table-line {
    display: none; }
  .model.model_view-list .available-btn-wrapper {
    display: inline-block;
    width: 215px;
    float: right;
    vertical-align: top; }
  .model.model_view-list .btn-bucket {
    display: inline-block; }
  .model.model_view-list .available-mark {
    line-height: 34px;
    display: inline; }
  .model.model_view-list .articul {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #7f7f7f; }
  .model.model_view-list .articul__number {
    font-weight: 600;
    font-size: 14px;
    color: #333; }
  .model.model_view-list .articul {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 14px; }
  .model.model_view-list:first-child {
    border-radius: 7px 7px 0 0; }
  .model.model_view-list:last-child {
    border-radius: 0 0 7px 7px; }

.footer {
  background: url("../../img/footer_lodyas.png");
  height: 220px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 1100px;
  overflow: hidden; }

.footer-logo-wrapper {
  padding: 72px 0; }

.footer-navigation {
  width: 600px;
  line-height: 2.5em;
  text-align: right;
  margin-right: -25px;
  font-size: 14px; }

.footer-navigation__item {
  display: inline-block;
  margin-right: 25px; }

.footer-navigation__link {
  color: white;
  transition: .3s;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

.footer-navigation__link:hover, .footer-navigation__link:focus, .footer-navigation__link:active {
  color: #ccc;
  transition: .3s; }

.footer-cocials-wrapper {
  padding: 35px 0; }

.footer-socials {
  margin: 0;
  padding: 0; }

.footer-socials__item {
  display: inline-block;
  margin-left: 25px; }

.footer-socials__link {
  height: 43px;
  width: 43px;
  display: inline-block;
  border-radius: 50%;
  background: white; }

.footer-socials__link_fb {
  background-image: url(../../img/sprite-socials.png);
  background-position: -174px -80px;
  background-repeat: no-repeat; }

.footer-socials__link_fb:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: -174px 11px;
  background-repeat: no-repeat; }

.footer-socials__link_tw {
  background-image: url(../../img/sprite-socials.png);
  background-position: -86px 11px;
  background-repeat: no-repeat; }

.footer-socials__link_tw:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: 9px 11px;
  background-repeat: no-repeat; }

.footer-socials__link_vk {
  background-image: url(../../img/sprite-socials.png);
  background-position: -72px -80px;
  background-repeat: no-repeat; }

.footer-socials__link_vk:hover {
  background-image: url(../../img/sprite-socials.png);
  background-position: 14px -80px;
  background-repeat: no-repeat; }

.copyright-wrapper {
  border-top: 1px solid #666; }

.copyright {
  font-size: 13px;
  line-height: 3em;
  color: white; }

.copyright-top-line {
  height: 1px;
  background: #666;
  margin-top: -30px; }