body {
  font-family: "Open Sans", "Arial", sans-serif;
  background: #f4f4f4;
  font-size: 16px; }

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.text-hide {
  position: absolute;
  left: -9999px; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left-block {
  width: 333px; }

.right-block {
  width: 743px; }

.logo-wrapper,
.logo,
.search-form-wrapper,
.extras,
.extras__item,
.navigation,
.navigation__item,
.socials,
.socials__item,
.bcrumbs__item,
.contacts,
.address,
.phone {
  display: inline-block;
  margin: 0;
  padding: 0; }

.top-block-wrapper {
  padding: 25px 0;
  background: white; }

.socials {
  height: 25px; }

.socials__item {
  margin: 0;
  padding: 0;
  height: 25px; }

.socials__link {
  width: 25px;
  height: 25px;
  background: black;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 0;
  margin-right: 15px; }

.address {
  margin-right: 80px; }

.top-block-wrapper, .logo-search-extras-wrapper, .navigation-wrapper {
  margin-bottom: 30px; }

.logo-wrapper {
  height: 35px;
  width: 238px; }

.logo {
  width: 100%;
  max-width: 100%; }

.logo-wrapper, .search-form-wrapper {
  margin-right: 55px; }

.extras {
  line-height: 2em; }

.search-form-wrapper, .extras {
  vertical-align: top; }

.search-form__input, .search-form__submit {
  height: 35px;
  box-sizing: border-box; }

.search-form__input {
  width: 290px;
  font-size: 14px;
  font-weight: light;
  padding-left: 15px;
  color: #b2b2b2; }

.search-form__submit {
  width: 75px;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  color: white;
  background: #ff6e35;
  border: 0;
  font-weight: 600; }

.navigation-wrapper {
  background: white; }

.navigation__link {
  padding: 15px;
  display: inline-block;
  color: #333;
  text-decoration: none; }

.navigation__link:hover, .navigation__link:focus {
  background: #e4e2e2;
  text-decoration: none; }

.navigation__link:active {
  background: #ff6e35;
  color: white;
  text-decoration: none; }

.bcrumbs {
  margin: 0;
  padding: 0; }

.model {
  max-width: 500px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  display: inline-block; }

.model__description {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.model__description-item:nth-child(odd) {
  background: #e6e6e6; }