/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb-hover-name: 'fb-hover';
$fb-hover-x: 271px;
$fb-hover-y: 164px;
$fb-hover-offset-x: -271px;
$fb-hover-offset-y: -164px;
$fb-hover-width: 6px;
$fb-hover-height: 12px;
$fb-hover-total-width: 281px;
$fb-hover-total-height: 194px;
$fb-hover-image: '../img/sprite-socials.png';
$fb-hover: (271px, 164px, -271px, -164px, 6px, 12px, 281px, 194px, '../img/sprite-socials.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 271px;
$fb-y: 82px;
$fb-offset-x: -271px;
$fb-offset-y: -82px;
$fb-width: 6px;
$fb-height: 12px;
$fb-total-width: 281px;
$fb-total-height: 194px;
$fb-image: '../img/sprite-socials.png';
$fb: (271px, 82px, -271px, -82px, 6px, 12px, 281px, 194px, '../img/sprite-socials.png', 'fb', );
$footer-fb-hover-name: 'footer-fb-hover';
$footer-fb-hover-x: 190px;
$footer-fb-hover-y: 0px;
$footer-fb-hover-offset-x: -190px;
$footer-fb-hover-offset-y: 0px;
$footer-fb-hover-width: 11px;
$footer-fb-hover-height: 21px;
$footer-fb-hover-total-width: 281px;
$footer-fb-hover-total-height: 194px;
$footer-fb-hover-image: '../img/sprite-socials.png';
$footer-fb-hover: (190px, 0px, -190px, 0px, 11px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-fb-hover', );
$footer-fb-name: 'footer-fb';
$footer-fb-x: 190px;
$footer-fb-y: 91px;
$footer-fb-offset-x: -190px;
$footer-fb-offset-y: -91px;
$footer-fb-width: 11px;
$footer-fb-height: 21px;
$footer-fb-total-width: 281px;
$footer-fb-total-height: 194px;
$footer-fb-image: '../img/sprite-socials.png';
$footer-fb: (190px, 91px, -190px, -91px, 11px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-fb', );
$footer-tw-hover-name: 'footer-tw-hover';
$footer-tw-hover-x: 0px;
$footer-tw-hover-y: 0px;
$footer-tw-hover-offset-x: 0px;
$footer-tw-hover-offset-y: 0px;
$footer-tw-hover-width: 25px;
$footer-tw-hover-height: 21px;
$footer-tw-hover-total-width: 281px;
$footer-tw-hover-total-height: 194px;
$footer-tw-hover-image: '../img/sprite-socials.png';
$footer-tw-hover: (0px, 0px, 0px, 0px, 25px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-tw-hover', );
$footer-tw-name: 'footer-tw';
$footer-tw-x: 95px;
$footer-tw-y: 0px;
$footer-tw-offset-x: -95px;
$footer-tw-offset-y: 0px;
$footer-tw-width: 25px;
$footer-tw-height: 21px;
$footer-tw-total-width: 281px;
$footer-tw-total-height: 194px;
$footer-tw-image: '../img/sprite-socials.png';
$footer-tw: (95px, 0px, -95px, 0px, 25px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-tw', );
$footer-vk-hover-name: 'footer-vk-hover';
$footer-vk-hover-x: 0px;
$footer-vk-hover-y: 91px;
$footer-vk-hover-offset-x: 0px;
$footer-vk-hover-offset-y: -91px;
$footer-vk-hover-width: 16px;
$footer-vk-hover-height: 21px;
$footer-vk-hover-total-width: 281px;
$footer-vk-hover-total-height: 194px;
$footer-vk-hover-image: '../img/sprite-socials.png';
$footer-vk-hover: (0px, 91px, 0px, -91px, 16px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-vk-hover', );
$footer-vk-name: 'footer-vk';
$footer-vk-x: 86px;
$footer-vk-y: 91px;
$footer-vk-offset-x: -86px;
$footer-vk-offset-y: -91px;
$footer-vk-width: 16px;
$footer-vk-height: 21px;
$footer-vk-total-width: 281px;
$footer-vk-total-height: 194px;
$footer-vk-image: '../img/sprite-socials.png';
$footer-vk: (86px, 91px, -86px, -91px, 16px, 21px, 281px, 194px, '../img/sprite-socials.png', 'footer-vk', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 0px;
$tw-hover-y: 182px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -182px;
$tw-hover-width: 16px;
$tw-hover-height: 12px;
$tw-hover-total-width: 281px;
$tw-hover-total-height: 194px;
$tw-hover-image: '../img/sprite-socials.png';
$tw-hover: (0px, 182px, 0px, -182px, 16px, 12px, 281px, 194px, '../img/sprite-socials.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 86px;
$tw-y: 182px;
$tw-offset-x: -86px;
$tw-offset-y: -182px;
$tw-width: 16px;
$tw-height: 12px;
$tw-total-width: 281px;
$tw-total-height: 194px;
$tw-image: '../img/sprite-socials.png';
$tw: (86px, 182px, -86px, -182px, 16px, 12px, 281px, 194px, '../img/sprite-socials.png', 'tw', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 172px;
$vk-hover-y: 182px;
$vk-hover-offset-x: -172px;
$vk-hover-offset-y: -182px;
$vk-hover-width: 10px;
$vk-hover-height: 12px;
$vk-hover-total-width: 281px;
$vk-hover-total-height: 194px;
$vk-hover-image: '../img/sprite-socials.png';
$vk-hover: (172px, 182px, -172px, -182px, 10px, 12px, 281px, 194px, '../img/sprite-socials.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 271px;
$vk-y: 0px;
$vk-offset-x: -271px;
$vk-offset-y: 0px;
$vk-width: 10px;
$vk-height: 12px;
$vk-total-width: 281px;
$vk-total-height: 194px;
$vk-image: '../img/sprite-socials.png';
$vk: (271px, 0px, -271px, 0px, 10px, 12px, 281px, 194px, '../img/sprite-socials.png', 'vk', );
$spritesheet-width: 281px;
$spritesheet-height: 194px;
$spritesheet-image: '../img/sprite-socials.png';
$spritesheet-sprites: ($fb-hover, $fb, $footer-fb-hover, $footer-fb, $footer-tw-hover, $footer-tw, $footer-vk-hover, $footer-vk, $tw-hover, $tw, $vk-hover, $vk, );
$spritesheet: (281px, 194px, '../img/sprite-socials.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
