include ../_includes/_mixins

doctype html

html(lang="ru-RU")
	include ../_blocks/_head
	body
		.main-wrapper
			include ../_blocks/_header

			//Основной контент
			.content.container.clearfix
				block left

				block right

				block about


			.container
				block info


		//Футер
		include ../_blocks/_footer


		script(src="/bower/jquery/jquery.min.js", defer)
		script(src="/bower/jquery-ui/jquery-ui.min.js", defer)
		script(src="/bower/jquery.columnizer/src/jquery.columnizer.min.js", defer)
		//Scripts
		script(src="/js/columns.js", defer)
		script(src="/js/phones.js", defer)
		script(src="/js/main.js", defer)
		script(src="/js/filter.js", defer)
		script(src="/js/slider.js", defer)
		script(src="/js/select.js", defer)
		script(src="/js/model-slider.js", defer)
		script(src="/js/view.js", defer)
		script(src="/js/inits.js", defer)
		script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=luS6QIGUJZZ4XSS7w7euv8ibnFEsgiBf&width=100%&height=100%&lang=ru_RU&sourceType=constructor&id=yaMap")