include ../_includes/_mixins

doctype html

html
	include ../_blocks/_head
	body
		include ../_blocks/_header

		//Основной контент
		.content.container.clearfix
			block left

			block right

			block about


		.container
			include ../_blocks/_info


		//Футер
		include ../_blocks/_footer


		script(src="/bower/jquery/jquery.min.js", defer)
		//Scripts
		script(src="/js/phones.js", defer)