.available
	h3.available__heading.content-heading Наличие в магазинах
		span.heading-arrow
	fieldset.available__filter.cooltech-accordeon
		label.available__label(for="allShop") Во всех магазинах
			input.available__radio(type="radio" name="available" value="all" id="allShop")
		label.available__label(for="nearShop") В ближайшем ко мне магазине
			input.available__radio(type="radio" name="available" value="near" id="nearShop")