.brands
	h3.brands__heading.content-heading Бренды
		span.heading-arrow
	fieldset.brands__filter.cooltech-accordeon
		+fieldsetMix(brands, 'checkbox')
		a.brands__filter-reset#brandsFilterReset(href="#") Сбросить фильтр