.color
	h3.color__heading.content-heading Цвет
		span.heading-arrow
	//fieldset.color__filter.cooltech-accordeon
		label.color__filter-label Красный
			input.color__filter-input(type="radio")
		label.color__filter-label Желтый
			input.color__filter-input(type="radio")