.color
	h3.color__heading.content-heading Цвет
		span.heading-arrow
	fieldset.color__filter.cooltech-accordeon
		each color in colorClasses
			label(class="color__filter-label color__filter-label_#{color}")
				input.color__filter-input(type="radio")
