.color
	h3.color__heading.content-heading Цвет
		span.heading-arrow
	fieldset.color__filter.cooltech-accordeon
		each color in colors
			label.color__filter-label
				input.color__filter-input(type="radio")