footer.footer
	.container.clearfix
		.clearfix
			.left
				.footer-logo-wrapper
					a(href="/")
						img.footer-logo(src="/img/cooltech-footer.png")


			.right
				.footer-cocials-wrapper
					//Социальные сети
					+socialsList(socials, socialsLinks, 'footer-socials right', 'footer-socials__item', 'footer-socials__link')
					
				//Футер - навигация по магазину
				+listSet('footer-navigation right', 'footer-navigation__item', 'footer-navigation__link', mainNav)

		//Копирайт
		.copyright.text-center
			a(href="https://github.com/vastelart/loftshop").footer-navigation__link Github
		.text-hide(id="samurai") Фронтендерам: Возьми себя в руки, дочь самурая &#128298;
	.copyright-top-line