footer.footer
	.container
		h1.footer-logo COOLTECH

		//Социальные сети
		+socialsList(socials, socialsLinks, 'footer-socials', 'footer-socials__item', 'footer-socials__link')

		//Футер - навигация по магазину
		+listSet('footer-navigation', 'footer-navigation__item', 'footer-navigation__link', mainNav)
		
		//Копирайт
		.copyright All rights reserved. 2015. No copy allowed
		p Инклюда