header.header
	.top-block-wrapper
		.container.clearfix
			//Соцсети
			+socialsList(socials, socialsLinks, 'socials', 'socials__item', 'socials__link')

			.contacts.right
				.address ул. Маяковская 6, офис 17
				.phone +7 (921) 123-12-13

	.logo-search-extras-wrapper.container

		//Логотип
		.logo-wrapper
			.logo
				a(href="/")
					img(src="../../img/cooltech.png" alt="COOLTECH")

		//Поиск
		.search-form-wrapper
			form.search-form(id="searchForm", action="/")
				input(type="text", name="search", class="search-form__input", placeholder="Что будем искать")
				button(type="submit", name="submit", class="search-form__submit") Найти

		//Extras
		ul.extras.right
			li.extras__item
				a.extras__link(id="showYaMap", href="#") Карта проезда
			li.extras__item
				a.extras__link(href="#") История заказов
			li.extras__item
				a.extras__link(href="#") Корзина

		div.ya-map-block(id="yaMap")

	.navigation-wrapper
		.container
			//Основная навигация по магазину
			+listSet('navigation', 'navigation__item', 'navigation__link', mainNav)

	.container
		//Breadcrumbs
		//+listSet('bcrumbs', 'bcrumbs__item', 'bcrumbs__link', bcrumbs)
		ul.bcrumbs
			li.bcrumbs__item
				a(href="#").bcrumbs__link Главная
			li.bcrumbs__item
				span.bcrumbs__arrow &gt;
			li.bcrumbs__item
				a(href="#").bcrumbs__link.bcrumbs__link_active Каталог

		//Заголовок страницы
		h2.page-heading Мобильные телефоны