head
	meta(charset="utf-8")
	title COOLTECH
	meta(name="viewport" content="width=1120, initial-scale=1.0")
	link(rel="stylesheet" href="bower/normalize-css/normalize.css")
	link(rel="stylesheet" href="css/main.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,600italic,400italic' rel='stylesheet' type='text/css')
	//modernizr
	script(src="bower/modernizr/modernizr.js")