header.header
	.container
		//Соцсети
		+socialsList(socials, socialsLinks, 'socials', 'socials__item', 'socials__link')

		.contacts
			.address ул. Маяковская 6, офис 17
			.phone +7 (921) 123-12-13 &#8381;

		//Логотип
		.logo
			h1.text-hide COOLTECH ЕПТА

		//Поиск
		.search-form-wrapper
			form.search-form(id="searchForm", action="/")
				input(type="text", name="search", class="search-form__input", placeholder="Что будем искать")
				button(type="submit", name="submit", class="search-form__submit") Найти

		//Extras
		+listSet('extras', 'extras__item', 'extras__link', extras)

		//Основная навигация по магазину
		+listSet('navigation', 'navigation__item', 'navigation__link', mainNav)

		//Breadcrumbs
		ul.head__bcrumbs.head__bcrumbs_inline
			li.head__bcrumbs-item
				a.head__bcrumbs-link(href="#") Главная
			li.head__bcrumbs-item
				a.head__bcrumbs-link(href="#") Каталог

		//Заголовок страницы
		h2.page-heading Мобильные телефоны