header.header
	.top-block-wrapper
		.container.clearfix
			//Соцсети
			+socialsList(socials, socialsLinks, 'socials', 'socials__item', 'socials__link')

			.contacts.right
				.address ул. Маяковская 6, офис 17
				.phone +7 (921) 123-12-13

	.logo-search-extras-wrapper.container

		//Логотип
		.logo-wrapper
			.logo
				img(src="../../img/cooltech.png" alt="COOLTECH")

		//Поиск
		.search-form-wrapper
			form.search-form(id="searchForm", action="/")
				input(type="text", name="search", class="search-form__input", placeholder="Что будем искать")
				button(type="submit", name="submit", class="search-form__submit") Найти

		//Extras
		//+listSet('extras right', 'extras__item', 'extras__link', extras)
		ul.extras.right
			li.extras__item
				a(href="#", id="showYaMap").extras__link Карта проезда
			li.extras__item
				a(href="#").extras__link История заказов
			li.extras__item
				a(href="#").extras__link Корзина

		div.ya-map-block(id="yaMap")

	.navigation-wrapper
		.container
			//Основная навигация по магазину
			+listSet('navigation', 'navigation__item', 'navigation__link', mainNav)

	.container
		//Breadcrumbs
		+listSet('bcrumbs', 'bcrumbs__item', 'bcrumbs__link', bcrumbs)

		//Заголовок страницы
		h2.page-heading Мобильные телефоны