.left-block.left
				
	//Категории товаров
	include _model-type

	.left-filter-wrapper
		//Наличие в магазинах
		include _available.jade

		//Бренды
		include _brands.jade		

		//Цена
		include _price.jade

		//Цвет
		include _color.jade

		//Операционные системы
		include _os.jade