.os
	h3.os__heading.content-heading Операционные системы
		span.heading-arrow
	fieldset.os__filter.cooltech-accordeon
		+fieldsetMix(os, 'checkbox')
		a.os__filter-reset#osFilterReset(href="#") Сбросить фильтр