.price
	h3.price__heading.content-heading Цена
		span.heading-arrow
	//fieldset.price__filter.cooltech-accordeon
		label.price__filter-label от
			input.price__filter-input(type="text", name="from", value="100")
		label до
			input.price__filter-input(type="text", name="to", value="13000")
	//Здесь должен быть JS-контроллер