.right-block.right
	//Сортировка и отображение
	.filter.clearfix
		fieldset.filter__sort
			label.sort-form__label(for="sortFormSelect") Сортировать по
				select.sort-form__select(id="sortFormSelect")
					option По цене

		//Вид каталога
		ul.filter__view.right
			li.filter__view-item
				a.filter__view-link.filter__view-link_active(href="#", data-view="table")
					span.text-hide 1
			li.filter__view-item
				a.filter__view-link(href="#", data-view="icons")
					span.text-hide 2
			li.filter__view-item
				a.filter__view-link(href="#", data-view="list")
					span.text-hide 3
		span.right Вид каталога

	//Модели телефонов
	include ../_blocks/_models.jade