- var views = ['table', 'icons', 'list']

.right-block.right
	//Сортировка и отображение
	.filter.clearfix
		fieldset.filter__sort
			label.sort-form__label(for="sortFormSelect") Сортировать по
				select.sort-form__select(id="sortFormSelect")
					option.select-item цене
					option(selected).select-item популярности
		.selector
		.selector__options

		//Вид каталога
		ul.filter__view.right
			li.filter__view-item
				each view in views
					a(href="#", class="filter__view-link filter__view-link_#{view}", data-view="#{view}")
						span.text-hide 1
		span.right.filter__view-label Вид каталога

	//Модели телефонов
	include ../_blocks/_models.jade