.info-heading {font-size: 20px; @include nomargin(0);}
.content__info {font-size: 14px; line-height: 1.5em;}
.content__info p {margin-bottom: 25px;}

.first.column, .last.column {width: 530px !important;}
.first.column {float: left !important;}
.last.column {float: right !important;}