@import "../_includes/_vars_mixins";

//$colors: ('#fff', '#cccccc', '#000', '#0a3153', '#ff1800', '#fff343', '#fb914a', '#92c37c', '#40a6ff', '#9870ad', '#dc78ad', '#7f401d');
//$classes: white, grey, black, deep-blue, red, yellow, orange, green, blue, purple, pink, brown;

.left-block {width: 332px; margin-bottom: 60px;}

.left-filter-wrapper {background: white; @include bordermix(1px solid #dee1e4); @include borderRadiusMix(7px);}

.available,
.brands,
.price,
.color,
.os {padding: 10px 25px; padding-bottom: 15px; border-bottom: 1px solid #dee1e4; font-size: 14px;}

.model-type {list-style-type: none; @include nomargin(0); border: 1px solid #dee1e4; margin-bottom: 35px; border-radius: 7px; background: white; overflow: hidden;}
.model-type__link {padding: 15px 15px 15px 30px; display: block; text-decoration: none; color: #333; transition: .3s; border-bottom: 1px solid #dee1e4;}
.model-type__link:hover, .model-type__link:active, .model-type__link:focus {background: #d9e5ea; transition: .3s;}

.available__radio,
.color__filter-input,
.brands__filter-input,
.color__filter-input,
.os__filter-input {position: absolute; left: -9999px;}

.filter-reset {color: #5db2fc;}
.filter-reset:hover, .filter-reset:active, .filter-reset:focus {color: $orange;}

.available__label, .os__filter-label, .brands__filter-label {display: block; line-height: 3em; cursor: pointer;}

.os__filter-label:before, .brands__filter-label:before {
	display: inline-block;
	content: " ";
	background-image: url(../../img/sprite-layout.png);
  	background-position: -89px 0px;
  	width: 19px;
  	height: 19px;
  	margin-top: 5px;
  	margin-bottom: -5px;
  	margin-right: 10px;
}

.os__filter-label_active:before, .brands__filter-label_active:before {
	display: inline-block;
	content: " ";
	background-image: url(../../img/sprite-layout.png);
  	background-position: 0px 0px;
  	width: 19px;
  	height: 19px;
  	margin-top: 5px;
  	margin-bottom: -5px;
  	margin-right: 10px;
}

.available__label:before {
	display: inline-block;
	content: " ";
	width: 19px;
	height: 19px;
	background-image: url(../../img/sprite-layout.png);
  	background-position: -89px -89px;
  	margin-top: 5px;
  	margin-bottom: -5px;
  	margin-right: 10px;
}

.available__label_active:before {
	display: inline-block;
	content: " ";
	width: 19px;
	height: 19px;
	background-image: url(../../img/sprite-layout.png);
  	background-position: 0px -89px;
  	margin-top: 5px;
  	margin-bottom: -5px;
  	margin-right: 10px;
}

.color {
  padding-bottom: 0;
}
.color__filter-label {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid #ccc;
  margin: 0 22px 22px 0;
  cursor: pointer;
  //transition: $transition;
}

.color__filter-label:hover {
  //transition: $transition;
  border: 2px solid $orange;
  width: 35px;
  height: 35px;
}