@mixin nomargin($marg) {
	margin: $marg;
	padding: $marg;
}

.model {max-width: 500px; border: 1px solid #ccc; @include nomargin(0); display: inline-block; padding: 15px 10px; border-radius: 10px; transition: $transition; background: white;}
.model:hover {box-shadow: 0 0 10px rgba(black, .3); transition: $transition;}
.model__title {font-size: 14px;}
.model__description {@include nomargin(0); list-style-type: none;}
.model__description-item:nth-child(odd) {background: #e6e6e6;}

.rating-wrapper {width: 145px; padding: 10px 0; margin: 0 auto;}
.rating {display: inline-block; @include nomargin(0); margin-right: 15px;}
.rating__star-filled, .rating__star-unfilled {display: inline-block; width: 17px; height: 20px;}
.rating__star-filled {
	background-image: url(../../img/sprite-rating.png);
  	background-position: -91px 0px;
  	background-repeat: no-repeat;
}
.rating__star-unfilled {
	background-image: url(../../img/sprite-rating.png);
  	background-position: 0px 0px;
  	background-repeat: no-repeat;
}
.rating__count {display: inline-block; background: #b5beca; color: white; font-size: 13px; text-align: center; padding: 0 10px; border-radius: 5px; vertical-align: top; margin-top: 2px;}

.available-mark {font-size: 12px; font-weight: bold; color: #333; display: inline-block;}
.available-mark_true:before {
	display: block;
}

.btn-bucket {
	padding: 8px 15px;
	background: $orange;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	border: 0;
	display: inline-block;
}

.btn-bucket:focus, .btn-bucket:active {box-shadow: 0 0 5px rgba(black, .2);}