@mixin nomargin($marg) {
	margin: $marg;
	padding: $marg;
}

.model {width: 235px; border: 1px solid #dee1e4; @include nomargin(0); display: inline-block; padding: 15px 10px; border-radius: 7px; transition: $transition; background: white; box-sizing: border-box;}
.model:hover {box-shadow: 0 0 8px rgba(black, .3); transition: $transition;}
.model__title {font-size: 14px;}
.model__description {@include nomargin(0); list-style-type: none; font-size: 14px; margin-bottom: 10px;}
.model__description-item:nth-child(odd) {background: #e6e6e6;}

.rating-wrapper {width: 145px; margin: 0 auto;}
.rating {display: inline-block; @include nomargin(0); margin-right: 15px;}
.rating__star-filled, .rating__star-unfilled {display: inline-block; width: 17px; height: 20px;}
.rating__star-filled {
	background-image: url(../../img/sprite-rating.png);
  	background-position: -91px 0px;
  	background-repeat: no-repeat;
}
.rating__star-unfilled {
	background-image: url(../../img/sprite-rating.png);
  	background-position: 0px 0px;
  	background-repeat: no-repeat;
}
.rating__count {display: inline-block; background: #b5beca; color: white; font-size: 12px; text-align: center; padding: 0 10px; border-radius: 7px; vertical-align: top; margin-top: 2px; height: 15px;}

.model__price {text-align: center; font-weight: 600; margin-bottom: 5px; font-size: 20px;}
.rouble {font-weight: normal; font-size: 18px; margin-left: 5px;}

.available-mark {font-size: 12px; font-weight: bold; color: #333; display: inline-block; line-height: 3em;}
.available-mark_true:before {
	display: inline-block;
	content: " ";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #60ac49;
	margin: 0 8px;
}

.btn-bucket {
	padding: 8px 15px;
	background: $orange;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	border: 0;
	display: inline-block;
}

.btn-bucket:focus, .btn-bucket:active {box-shadow: 0 0 5px rgba(black, .2);}